<div class="text-center">
  <h2 class="font-weight-bold">ユーザー詳細</h2>
</div>

<% if current_user.id == @user.id %>
  <table class="table table-bordered text-center">
    <tr class="bg-danger text-white">
      <th>ユーザー名</th>
    </tr>
    <tr>
      <td><%= @user.name %></td>
    </tr>
  </table>
  <div class="d-flex justify-content-center text-center">
    <%= link_to "ユーザー編集", edit_user_path, class: "col-4 btn btn-success form-control" %>
  </div>
<% else %>
  <h1 class="text-center">このページにはアクセスできません</h1>
<% end %>