<div class="text-center">
  <h2 class="font-weight-bold">管理画面：ユーザー一覧</h2>
</div>

<table class="table table-bordered text-center">
  <tr class="bg-danger text-white">
    <th>権限</th>
    <th>ユーザー名</th>
    <th>タスク数</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <% if user.admin_flag == true %>
      <td>管理者</td>
    <% else %>
      <td>ユーザー</td>
    <% end %>
    <td><%= link_to user.name, admin_user_path(user), class: "text-dark" %></td>
    <td><%= user.tasks_count %></td>
  </tr>
  <% end %>
</table>

<div class="d-flex justify-content-center">
  <%= paginate @users %>
</div>

<div class="d-flex justify-content-center text-center">
  <%= link_to "ユーザー作成", new_admin_user_path, class: "col-4 btn btn-primary form-control" %>
</div>